# Логин пароль и таймаут который мы ожидаем ответа при выполнении version или index.
LOGIN=aa
PASSWORD=aabb
TIMEOUT=300
PROD=false
HOST=0.0.0.0
PORT=5000
SESSION_TIMEOUT=10
REQUEST_TIMEOUT=300

# Хвосты линков для входа, проверки версии и индекса
SIGNIN_TAIL=/signin
VERSION_TAIL=/version
INDEX_TAIL=/index

# Данные на странице авторизации
PAGE_AUTH_TOKEN=_secretToken
PAGE_INPUT_LOGIN=login
PAGE_INPUT_PASSWORD=password

# 
PAGE_PARSER_BODY=parseBody